<template>
  <div class = "accueil">
    <h1>Recherche de films PWA</h1>
    <h2>Rechercher et critiquer des films</h2>
  </div>
</template>

<script>
export default {
  name: "Accueil.vue"
}
</script>

<style scoped>

</style>